/* About */

.about-div {
  display: flex;
  margin: 40px 0 60px 0;
  justify-content: center;
}

.about-div img {
  width: 30%;
  padding: 0 15px 0 40px;
}

.about-text {
  width: 70%;
  padding: 15px;
  line-height: 32px;
  color: black;
}
