/* Hero */
.heroDiv {
  display: flex;
  padding: 80px 30px;
  align-items: center;
  margin: 0 0 100px 0;
}

.heroText h1 {
  color: #ae945c;
  padding: 8px;
  line-height: 35px;
  width: fit-content;
  font-size: x-large;
}

.heroText {
  text-align: left;
  width: 50%;
  margin-right: 80px;
  padding-right: 30px;
  line-height: 22px;
}

.heroText p {
  font-size: larger;
}

.profilePic {
  text-align: center;
  width: 60%;
}

.profilePic img {
  width: 45%;
  border: 4px solid white;
  border-radius: 5px;
  transform: rotate(-4deg);
}
