/* Nav bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav h1 {
  padding-left: 8px;
  margin-left: 8px;
}

.nav ul {
  color: #b3beb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-right: 10px;
}

nav ul li {
  padding: 8px;
  background-color: #515e65;
}

.nav ul li a,
.nav ul li span {
  padding: 8px;
  text-decoration: none;
  color: #b3beb3;
}

.nav ul li:hover,
.nav ul li a:hover,
.nav ul li span:hover {
  color: #242734;
  border-radius: 15px;
}
