/* Nav bar */
* {
  background-color: rgb(226, 193, 198);
  padding: 5px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav h1 {
  padding-left: 8px;
  margin-left: 8px;
  font-size: xx-large;
}

.nav ul {
  color: #b3beb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-right: 10px;
}

nav ul li {
  padding: 8px;
  background-color: #3e4a51;
}

.nav ul li a,
.nav ul li span {
  padding: 10px;
  text-decoration: none;
  color: #ae945c;
  font-size: large;
}

.nav ul li:hover,
.nav ul li a:hover,
.nav ul li span:hover {
  color: #7f6835;
  border-radius: 15px;
}
