<div>
  <h1 class="titles">Portfolio</h1>
  <!-- Run Buddy -->
  <div class="portfolio paragraph">
    <div class="portfolio-mock">
      <a href="https://karlyweatherstein.github.io/run-buddy/">
        <img [src]="runBuddy" alt="runBuddy" />
      </a>
    </div>
    <div class="icon">
      <h2>Run Buddy</h2>
      <a href="https://github.com/Karlyweatherstein/run-buddy">
        <!-- <img src={Github} alt='Github' ></img> -->
      </a>
      <p>Tools: HTML, CSS</p>
    </div>
  </div>
  <!-- Show Me How  -->
  <div class="portfolio paragraph">
    <div class="portfolio-mock">
      <a href="https://boiling-fjord-93274.herokuapp.com/">
        <img [src]="showMeHow" alt="showMeHow" />
      </a>
    </div>
    <div class="icon">
      <h2>Show Me How</h2>
      <a href="https://github.com/jamesbelk0/Show-Me-How">
        <!-- <img src={Github} alt='Github' ></img> -->
      </a>
      <p>Tools: Javascript, Handlebars, Express, MongoDB</p>
    </div>
  </div>
  <!-- Password Generator  -->
  <div class="portfolio paragraph">
    <div class="portfolio-mock">
      <a href="https://karlyweatherstein.github.io/password-generator/">
        <img [src]="passwordMockup" alt="passwordMockup" />
      </a>
    </div>
    <div class="icon">
      <h2>Password Generator</h2>
      <a href="https://github.com/Karlyweatherstein/password-generator">
        <!-- <img src={Github} alt='Github' ></img> -->
      </a>
      <p>Tools: HTML, CSS, Javascript</p>
    </div>
  </div>
  <!-- Best Furrrends  -->
  <div class="portfolio paragraph">
    <div class="portfolio-mock">
      <a href="https://karlyweatherstein.github.io/best-furrends/">
        <img [src]="bestFurrends" alt="bestFurrends" />
      </a>
    </div>
    <div class="icon">
      <h2>Best Furrends</h2>
      <a href="https://github.com/Karlyweatherstein/best-furrends">
        <!-- <img src={Github} alt='Github' ></img> -->
      </a>
      <p>Tools: HTML, CSS, Javascript</p>
    </div>
  </div>
  <!-- Horiseon -->
  <div class="portfolio paragraph">
    <div class="portfolio-mock">
      <a href="https://karlyweatherstein.github.io/horiseon/">
        <img [src]="horiseon" alt="horiseon" />
      </a>
    </div>
    <div class="icon">
      <h2>Horiseon</h2>
      <a href="https://github.com/Karlyweatherstein/horiseon">
        <!-- <img src={Github} alt='Github' ></img> -->
      </a>
      <p>Tools: HTML, CSS, Javascript</p>
    </div>
  </div>
  <!-- Weather Dashboard  -->
  <div class="portfolio paragraph">
    <div class="portfolio-mock">
      <a href="https://karlyweatherstein.github.io/weather-dashboard/">
        <img [src]="weatherDashboard" alt="weatherDashboard" />
      </a>
    </div>
    <div class="icon">
      <h2>Weather Dashboard</h2>
      <a href="https://github.com/Karlyweatherstein/weather-dashboard/">
        <!-- <img src={Github} alt='Github' ></img> -->
      </a>
      <p>Tools: HTML, CSS, Javascript, Rest API</p>
    </div>
  </div>
</div>
