/* Resume */
.resume {
  margin: 20px;
}

.resume a {
  color: #242734;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.resume a h2 {
  background-color: #ae945c;
  width: fit-content;
  padding: 10px;
  margin: auto;
}
