/* You can add global styles to this file, and also import other style files */
* {
  background-color: rgb(231, 208, 212);
  position: relative;
  margin: 0;
}

.titles {
  font-family: "EB Garamond", serif;
  font-size: xx-large;
  color: #ae945c;
  text-align: center;
  margin: 40px;
}

.paragraph {
  font-family: "Cormorant", serif;
  font-size: larger;
}
